:root{

    /*------Colors-------*/
    --bg-1:#1f4e4a;
    --bg-2:#1e645d;
    --bg-3:#082e2a;

    --color-1:#c4c8cf;
    --color-2:#b98484;

    /*------Font-------*/
    --font-size1: 1.5rem;
    --font-size2: 2rem;
    --font-size3: 3rem;
    --font-size4: 5rem;

    --font-primary:"Quicksand", sans-serif;
    
    /*-----Gap-----*/
    --min-gap: .5rem;
    --gap-1: 1rem;
    --gap-2: 2rem;
    --gap-3: 2.5rem;
    --gap-4: 3rem;
    --gap-5: 3.5rem;
    --gap-6: 4rem;
    --max-gap: 6rem;

    /*-----Radius-----*/
    --radius-1: 10px;
    --radius-2: 24px;
    --radius-3: 40px;
    --radius-4: 60px;
    --radius-5: 100px;
    --radius-max: 100%; 
}

/*------------------------------Colors-------------------------------*/
.bg-1 { background-color: var(--bg-1); }
.bg-2 { background-color: var(--bg-2); }

.color-1 { color: var(--color-1); }
.color-2 { color: var(--color-2); }

/*-----------------------------Margin--------------------------------*/
.margin-1 { margin: var(--gap-1); }
.margin-2 { margin: var(--gap-2); }
.margin-3 { margin: var(--gap-3); }
.margin-4 { margin: var(--gap-4); }
.margin-5 { margin: var(--gap-5); }
.margin-6 { margin: var(--gap-6); }

.m-block { margin-block: var(--gap-1); }
.m-block { margin-block: var(--gap-2); }
.m-block { margin-block: var(--gap-3); }
.m-block { margin-block: var(--gap-4); }
.m-block { margin-block: var(--gap-5); }
.m-block { margin-block: var(--gap-6); }

.m-top-1 { margin-block-start: var(--gap-1); }
.m-top-2 { margin-block-start: var(--gap-2); }
.m-top-3 { margin-block-start: var(--gap-3); }
.m-top-4 { margin-block-start: var(--gap-4); }
.m-top-5 { margin-block-start: var(--gap-5); }
.m-top-6 { margin-block-start: var(--gap-6); }

.m-bottom-1 { margin-block-end: var(--gap-1); }
.m-bottom-2 { margin-block-end: var(--gap-2); }
.m-bottom-3 { margin-block-end: var(--gap-3); }
.m-bottom-4 { margin-block-end: var(--gap-4); }
.m-bottom-5 { margin-block-end: var(--gap-5); }
.m-bottom-6 { margin-block-end: var(--gap-6); }

.m-inline-1 { margin-inline: var(--gap-1); }
.m-inline-2 { margin-inline: var(--gap-2); }
.m-inline-3 { margin-inline: var(--gap-3); }
.m-inline-4 { margin-inline: var(--gap-4); }
.m-inline-5 { margin-inline: var(--gap-5); }
.m-inline-6 { margin-inline: var(--gap-6); }

.m-rigth-1 { margin-inline-end: var(--gap-1); }
.m-rigth-2 { margin-inline-end: var(--gap-2); }
.m-rigth-3 { margin-inline-end: var(--gap-3); }
.m-rigth-4 { margin-inline-end: var(--gap-4); }
.m-rigth-5 { margin-inline-end: var(--gap-5); }
.m-rigth-6 { margin-inline-end: var(--gap-6); }
.m-rigth-7 { margin-inline-end: var(--max-gap); }

.m-left-1 { margin-inline-start: var(--gap-1); }
.m-left-2 { margin-inline-start: var(--gap-2); }
.m-left-3 { margin-inline-start: var(--gap-3); }
.m-left-4 { margin-inline-start: var(--gap-4); }
.m-left-5 { margin-inline-start: var(--gap-5); }
.m-left-6 { margin-inline-start: var(--gap-6); }

/*----------------------------Padding--------------------------------*/
.min-pad { padding: var(--min-gap); }
.pad-1 { padding: var(--gap-1); }
.pad-2 { padding: var(--gap-2); }
.pad-3 { padding: var(--gap-3); }
.pad-4 { padding: var(--gap-4); }
.pad-5 { padding: var(--gap-5); }
.pad-6 { padding: var(--gap-6); }

.p-block { padding-block: var(--gap-1); }
.p-block { padding-block: var(--gap-2); }
.p-block { padding-block: var(--gap-3); }
.p-block { padding-block: var(--gap-4); }
.p-block { padding-block: var(--gap-5); }
.p-block { padding-block: var(--gap-6); }

.p-top-1 { padding-block-start: var(--gap-1); }
.p-top-2 { padding-block-start: var(--gap-2); }
.p-top-3 { padding-block-start: var(--gap-3); }
.p-top-4 { padding-block-start: var(--gap-4); }
.p-top-5 { padding-block-start: var(--gap-5); }
.p-top-6 { padding-block-start: var(--gap-6); }

.p-bottom-1 { padding-block-end: var(--gap-1); }
.p-bottom-2 { padding-block-end: var(--gap-2); }
.p-bottom-3 { padding-block-end: var(--gap-3); }
.p-bottom-4 { padding-block-end: var(--gap-4); }
.p-bottom-5 { padding-block-end: var(--gap-5); }
.p-bottom-6 { padding-block-end: var(--gap-6); }

.p-inline-1 { padding-inline: var(--gap-1); }
.p-inline-2 { padding-inline: var(--gap-2); }
.p-inline-3 { padding-inline: var(--gap-3); }
.p-inline-4 { padding-inline: var(--gap-4); }
.p-inline-5 { padding-inline: var(--gap-5); }
.p-inline-6 { padding-inline: var(--gap-6); }

.p-rigth-1 { padding-inline-end: var(--gap-1); }
.p-rigth-2 { padding-inline-end: var(--gap-2); }
.p-rigth-3 { padding-inline-end: var(--gap-3); }
.p-rigth-4 { padding-inline-end: var(--gap-4); }
.p-rigth-5 { padding-inline-end: var(--gap-5); }
.p-rigth-6 { padding-inline-end: var(--gap-6); }

.p-left-1 { padding-inline-start: var(--gap-1); }
.p-left-2 { padding-inline-start: var(--gap-2); }
.p-left-3 { padding-inline-start: var(--gap-3); }
.p-left-4 { padding-inline-start: var(--gap-4); }
.p-left-5 { padding-inline-start: var(--gap-5); }
.p-left-6 { padding-inline-start: var(--gap-6); }

/*-----------------------------Gap---------------------------------*/
.gap-1 { gap: var(--gap-1); }
.gap-2 { gap: var(--gap-2); }
.gap-3 { gap: var(--gap-3); }
.gap-4 { gap: var(--gap-4); }
.gap-5 { gap: var(--gap-5); }
.gap-6 { gap: var(--gap-6); }

/*--------------------------Font------------------------------------*/
.font-1 { font-size: var(--font-size1); }
.font-2 { font-size: var(--font-size2); }
.font-3 { font-size: var(--font-size3); }
.font-4 { font-size: var(--font-size4); }

/*----------------------------Width----------------------------------*/
.vw-100 { width: 100vw; }
.width-max { width: 100%; }

/*----------------------------Height---------------------------------*/
.vh-100 { height: 100vh; }

/*----------------------------Display--------------------------------*/
.none { display: none; }
.flex { display: flex; }
.flex-center { 
    display: flex; 
    justify-content: center; 
}
.flex-center-center { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.column { flex-direction: column; }
.row { flex-direction: row; }
.wrap { flex-wrap: wrap; }
.justify { justify-content: center; }
.align { align-items: center; }
.around { justify-content: space-around; }
.between { justify-content: space-between; }
.end { justify-content: flex-end; }

.text-center { text-align: center; }


.grid-2 { 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
.grid-3 { 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

/*----------------------------Position-----------------------------------*/
.relative { position: relative; }
.absolute { position: absolute; }

/*----------------------------Buttons-----------------------------------*/
.btn-primary { 
    background-color: var(--bg-1); 
    color: var(--color-1); 
    padding: var(--min-gap); 
    border-radius: var(--radius-1); 
}

/*----------------------------Hover-----------------------------------*/
.hover-1:hover { 
    background-color: var(--bg-3);
    transition: all .3s;
}

/*----------------------------Styles-----------------------------------*/
.container-index { 
    max-width: 1000px; 
    margin: 1rem auto; 
    padding: var(--gap-1); 
    gap: var(--gap-1);
    color: var(--color-1);
    font-size: 1.15rem;
}

