*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-primary); 
    scroll-behavior: smooth;
}
 
.img { 
    width: 100%; 
    height:250px;
    overflow: hidden;
    border-radius: var(--radius-1);
    
}

.open-menu {
    display: none;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 1rem;
    padding: .8rem;
    border-radius: 8px;
    background-color: var(--bg-1);
    color: var(--color-1);
}

.drawer {
    position: fixed;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    background-color: var(--bg-3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-block: 2rem;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.40);
}

.drawer a {
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    color: var(--color-1);
    border-radius: var(--radius-1);
    transition: all .3s ease-in;
}

.drawer a:active, .drawer a:hover { background-color: var(--bg-2); }




/*---------------------------Media Queries-------------------------------*/
@media (max-width: 768px) {
    .open-menu {
        display: block;
    }
}