:root{
    --backgroundbody:#025951;

    --primary:#e5e7eb;

    --font-size1:3rem;
    --font-size2:1.5rem;
    --font-size3:1.75rem;

    --font-primary:"Quicksand", sans-serif;
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: var(--font-primary); 
    scroll-behavior: smooth;
}

body{ 
    background-color: var(--backgroundbody);
    color: var(--primary);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    
} 

#header {grid-area: header;}
#main {grid-area: main;}
#footer {grid-area: footer;}

#header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-inline-start: 15rem;
    padding-block: 3rem;
    gap: 1.5rem;
    & h1{
        font-size: var(--font-size1);
    } 
    & h2, h3{
        font-size: var(--font-size2);
    }
    & .estudios-icon{
        display: flex;
        gap: 1rem;
    }
    & .nav-item{
        gap: 1rem;
        & a{
            padding-inline: .5rem;
            color: var(--primary);
        } 
        & .nav-text{
            padding: 1rem;
            line-height: 1.5rem;
        }
    }
}

.nav-text:hover{text-decoration: underline;}

#presentacion{
    line-height: 1.5rem;
    padding-inline: 4rem;
    padding-block-end: 4rem;
    text-align:justify;
    & .parr-1{
        padding-block-end: 1rem;
    }
}


#proyectos{
    height: 550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    & .subtitle{
        font-size:var(--font-size3);
        padding-inline-start: 5rem;
    }
    & .card-proyectos{
        box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
        transition: all 0.5s ease-in-out;
        max-width: 300px;
        max-height: 500px;
        padding: 1rem;
        & .img-card{
            width:100%;
            height: 300px;
        }
        & p{
            text-align: justify;
            padding: 1rem;
        }
    }
}
.button {
    width: 100%;
    padding:.25rem;
    border: 1px solid var(--backgroundbody);
    border-radius: 1rem;
    background-color: #247e75;
}
.card-proyectos:hover{
    transform: translateY(20px);
}
.button:hover{
    background-color: #174440;
    font-weight: bold;
}

#tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2rem;
    gap: 3rem;
    & h3{
        font-size: 25px;
    }
    & .icon-tec{
        display: flex;
        gap: 1.5rem;
    }
}

.container{
    display: flex;
    justify-content: center;
    padding-block: 5rem;
    gap: 2rem;
    & .form-texto{
        padding-block-end:1rem;
        font-size: var(--font-size2);
    }
    & .form{
        display: flex;
        flex-direction: column;
        min-width: 400px;
        gap: 1.5rem;
        & .input{
            border: none;
            border-radius: .5rem;
            padding: .5rem;
            resize: none;
        }
    }  
    & .redes-contact{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        & .fa-icon{
            display: flex;
            gap: 2rem;
            & a{
                color: var(--primary);
            }
        }
    } 
}

.input:focus{ outline: 2px solid #247e75;}

@media(max-width:700px){
    #header{
        padding-inline-start: 2rem;
        padding-block-end: .5rem;
    }
}
@media(max-width:1234px){
    #proyectos{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        gap: 1rem;
        justify-content: center;
    }
}
@media(max-width:1234px){
    #proyectos > .subtitle{
       display: none;
    }
}
@media(max-width:1000px){
    .card-proyectos:hover{
        transform: none;
    }
}

@media(max-width:675px){
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:590px){
    .icon-tec{
        display: flex;
        flex-wrap: wrap;
        padding-inline: 1rem;
    }
}
